@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --font-family: "Outfit", sans-serif;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 600;
    --primary-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-size-body: 18px;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--main-BG);
}

.card-container {
    text-align: center;
    width: 40rem;
    padding: 1rem;
}

.nft-title {
    font-weight: var(--font-bold);
    color: var(--white);
}