@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --font-family: "Outfit", sans-serif;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 600;
    --primary-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-size-body: 18px;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    text-decoration: none;
    color: var(--primary-cyan);
}

body {
    font-family: var(--font-family);
    background-color: var(--main-BG);
}

.card-container {
   position: fixed;
   top: 50%;
   left: 50%;
   text-align:left;
   background-color: var(--card-BG);
   width: 20rem;
   padding: 1.25rem;
   border-radius: 1rem;
   transform: translate(-50%, -50%);
}

.art {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5%;
}

.art-container {
    /* background-color: aqua;
    border-radius: 5%; */
    /* display: inline-block; */
    position: relative;
}

.art-container > img.art{
    vertical-align: middle;
}

.overlay {
    background-color: var(--primary-cyan);
    height: 100%;
    width: 100%;
    border-radius: 5%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.overlay .view-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay:hover {
    opacity: 0.75;
    cursor: pointer;
}

p {
    color: var(--primary-blue);
    font-weight: var(--font-regular);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

p.price {
    font-weight: var(--font-bold);
    color: var(--primary-cyan);
}

.nft-title {
    margin-top: 1rem;
    font-weight: var(--font-bold);
    color: var(--white);
}

.nft-title:hover {
    text-decoration: none;
    color: var(--primary-cyan);
    cursor: pointer;
}

.details {
    display: flex;
    justify-content: space-between;

}

.price-details {
    display: flex;
    align-items: center;
}

.time-details {
    display: flex;
    align-items: center;
}

.price-icon {
    width: 0.825rem;
    height: 1.35rem;
    vertical-align: text-top;
    margin-right: 0.25rem;
}

.time-icon {
    width: 1.275rem;
    height: 1.275rem;
    vertical-align: text-top;
    margin-right: 0.25rem;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--line);
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.credit {
    display: flex;
    align-items: center;
}

.author-icon {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    border: 1px solid var(--white);
    border-radius: 100%;
    margin-right: 0.75rem;
}

.attribution {
    text-align: center;
}
